@{
    ViewData["Title"] = "Registro de Medicinas";
}

<div class="text-center">
    <h1 class="display-4">Registro de Medicinas</h1>
    <p><a href="https://localhost:7095/JS_Medicinas">Acceda a Registro de Medicamento</a>.</p>
</div>
